.footer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--react-gray);
  color: var(--white);
}
.footer span {
  font-weight: bold;
  color: var(--react-cyan);
}
